body{
    margin: 2px;
    padding: 2px;
    background-image: url(images/background.jpg);
    opacity: 1;
}
nav ul {
  list-style: none;
  background-color: #495175c2;
  opacity:1;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
    width: 20%;
    border-right: 3px solid white;
    height: 50px;
    line-height: 50px;
    font-size: 100%;
    display: inline-block;
    margin-right:-4px;
  }

nav li:last-child{
      border-right: none;
}

nav li li{
      border-right: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  transition: .5s background-color;
}

nav a:hover {
  background-color: #005f5f;
}

nav a.active {
  background-color: #aaa;
  color: #444;
  /*cursor: default;*/
}

/* Sub Menus */
nav li li {
  font-size: .8em;
}

nav > ul > li {
   text-align: center;
}

nav > ul > li > a {
    padding-left: 0;
}

/* Sub Menus */
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}


nav li:hover ul {
   display: block;
}

nav li ul li {
   display: block;
 }

/* Sub Menus */


 header{
  font-family: Impact, Charcoal, sans-serif;
  background-color:inherit;
  text-align:center;
  font-size:60px;
  /*background:linear-gradient(#c1c1c1,#f3dbdb);*/
  

 }
section{
 
  
  opacity:.80;
  font-family:normal;
  font-size:100%;
  border-radius:6px;
  padding:2%;
  margin:2%;
  
  
}
.col1{
  
  flex: 33.33%;
      padding:2px;
      background-color: black;
      opacity:100%;
}
.row1{
   display: flex;
   background-color: black;
}

  

}
h4{
  background:linear-gradient(#c1c1c194,#f3dbdb);
  
  border-radius:5px;
  font-size:100%  
}
h1{
  background:linear-gradient(#c1c1c194,#f3dbdb);
  border:3px solid #c1c1c194;
  border-radius:5px;
}
h3{
  background:linear-gradient(#c1c1c194,#f3dbdb);
  width:50%;
  height:50%;
}
.def{
  background:linear-gradient(#c1c1c194,#f3dbdb);
  border-radius:5px;
  font-size:23px;  
  padding:5px;

}
p{
  clear:both;
  overflow:auto;
  background:linear-gradient(#c1c1c194,#f3dbdb);
  text-align:left;
  font-size:25px;
}

iframe{
  clear:both;
  height:200%;
  width:100%;
}

