body {
  margin: 10px;
  padding: 2px;
  background-image:url("images/h11.jpg");
  background-size:cover;
  opacity:1;
}

nav ul {
  list-style: none;
  background-color: #495175c2;
  opacity:1;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
    width: 20%;
    border-right: 3px solid white;
    height: 50px;
    line-height: 50px;
    font-size: 100%;
    display: inline-block;
    margin-right:-4px;
  }

nav li:last-child{
      border-right: none;
}

nav li li{
      border-right: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  transition: .5s background-color;
}

nav a:hover {
  background-color: #005f5f;
}

nav a.active {
  background-color: #aaa;
  color: #444;
  /*cursor: default;*/
}

/* Sub Menus */
nav li li {
  font-size: .8em;
}

nav > ul > li {
   text-align: center;
}

nav > ul > li > a {
    padding-left: 0;
}

/* Sub Menus */
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}


nav li:hover ul {
   display: block;
}

nav li ul li {
   display: block;
 }

/* Sub Menus */


 header{
  font-family: Impact, Charcoal, sans-serif;
  background-color:inherit;
  text-align:center;
  font-size:60px;
  /*background:linear-gradient(#c1c1c1,#f3dbdb);*/
  

 }
section{
 
  
  opacity:.80;
  font-family:normal;
  font-size:100%;
  border-radius:6px;
  padding:2%;
  margin:2%;
  
  
}
img{
  float:right;
  height:20%;
  width:20%;
}

h3{
  
   
   border-radius:5px;
   overflow:auto;
   
}
h1
{  background:linear-gradient(#c1c1c194,#f3dbdb);
  border:3px solid #c1c1c194;
  border-radius:5px;}
p{
  clear:both;
  overflow:auto;
  background:linear-gradient(#c1c1c194,#f3dbdb);
  text-align:left;
  font-size:25px;
}
/*width="420" height="415"?*/